<form id="form-search-product">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Titulo</label>
      <input type="text" class="form-control" name="title"/>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Precio Min</label>
      <input type="number" class="form-control" name="minPrice">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Precio Min</label>
        <input type="number" class="form-control" name="maxPrice">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label" name="type">Tipo</label>
        <select class="form-control" name="type">
            <option>Tipo 1</option>
            <option>Tipo 2</option>
            <option>Tipo 3</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>